label {
    min-width: 100px;
}

input {
    width: 150px;
}

input[type=submit] {
    margin-top: 20px;
}

select {
    width: 150px;
}

.expense {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #000;
    padding-top: 10px;
    padding-bottom: 18px;
}

.deleteButton {
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
}

#details {
    cursor: pointer;
    color: blue;
}

div.input {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 20px;
}
